<section class="navbar">
<div class="logo">
    <img width="130" src="/images/youtube.png" alt="">
</div>
<div class="search">
    <input type="text" placeholder="Search">
</div>
<div class="signIn">
    <button>SignIn</button>
</div>
</section>